.head {
    width: 430px;
    height: 50px;
    margin: 32px auto;
    margin-bottom: 24px;
}

.logo {
    display: block;
    float: left;
    width: 110px;
    height: 57px;
    margin-top: -4px;
    margin-left: -2px;
}

.brand {
    float: left;
}

.company {
    font-size: 18px;
    font-weight: 700;
}

.system {
    margin-top: 4px;
    font-size: 15px;
}

.btn-login {
    width: 100%;
    height: 52px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 0;
}

.form-login {
    width: 430px;
    padding: 32px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-login .form-group {
    position: relative;
    margin-bottom: 8px;
}

.form-login .form-control {
    height: 52px;
    padding: 0 52px;
}

.form-login .form-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}

.form-login .form-label .icon {
    top: 3px;
    left: 1px;
    color: #888;
    font-size: 18px;
}

.form-login .form-control:focus + .form-label .icon {
    color: #337ab7;
}

.form-login .form-action {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}

.form-login .form-action + .form-control {
    padding-right: 51px;
}

.form-login .form-action .icon {
    top: 1px;
    color: #888;
    font-size: 14px;
    cursor: pointer;
}

.icon-user:before {
    content: "\e008";
}

.icon-lock:before {
    content: "\e033";
}

.icon-remove-sign:before {
    content: "\e083";
}

.icon-eye-open:before {
    content: "\e105";
}
