<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>研究生推免系统</title>
    <link rel="shortcut icon" href="images/logo.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/demo.css"/>
</head>
<body>
<header class="header">
    <div class="header-fixed">
        <div class="container">
            <p class="logo">首都师范大学</p>
            <div class="account">
                <span>{{user.name}}</span>
                <span class="icon icon-off" @click="logout"></span>
            </div>
        </div>
    </div>
</header>
<main id="container" class="container">
    <div class="panel">
        <div class="btn-list">
            <div class="select-group">
                <label class="select-label">状态</label>
                <select class="form-select" v-model="status" @change="queryStudentList">
                    <option value="0">全部</option>
                    <option value="1" v-if="plan.status >= 3">可面试</option>
                    <option value="2" v-if="plan.status >= 4">可推免</option>
                </select>
            </div>
            <button class="btn pull-right" @click="inspectionSubmitModalVisible" v-if="1 == plan.status" v-cloak>提交
            </button>
            <button class="btn pull-right" @click="examSubmitModalVisible" v-if="2 == plan.status" v-cloak>提交</button>
            <button class="btn pull-right" @click="interviewSubmitModalVisible" v-if="3 == plan.status" v-cloak>提交
            </button>
            <button class="btn pull-right" @click="planCompleteModalVisible" v-if="4 == plan.status" v-cloak>完成</button>
            <button class="btn pull-right" @click="scoreImportModalVisible" v-if="1 == plan.status" v-cloak>导入</button>
            <button class="button" type="button">返回</button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>基础成绩</th>
                <th v-if="plan.status >= 3" v-cloak>专业课成绩</th>
                <th v-if="plan.status >= 3" v-cloak>英语成绩</th>
                <th v-if="plan.status >= 3" v-cloak>附加分数</th>
                <th v-if="plan.status >= 4" v-cloak>面试成绩</th>
                <th v-if="plan.status >= 4" v-cloak>总成绩</th>
                <th v-if="plan.status >= 4" v-cloak>总排名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(student, index) in studentList">
                <td>{{student.code}}</td>
                <td>{{student.name}}</td>
                <td>{{student.averageScore}}</td>
                <td v-if="plan.status >= 3" v-cloak>{{student.proCourseScore}}</td>
                <td v-if="plan.status >= 3" v-cloak>{{student.englishScore}}</td>
                <td v-if="plan.status >= 3" v-cloak>{{student.additionalScore}}</td>
                <td v-if="plan.status >= 4" v-cloak>{{student.interviewScore}}</td>
                <td v-if="plan.status >= 4" v-cloak>{{student.comprehensiveScore}}</td>
                <td v-if="plan.status >= 4" v-cloak>{{student.comprehensiveRank}}</td>
                <td>
                    <a class="btn-link" :href="'student.html?student=' + student.id" style="margin-right: 16px">查看成绩</a>
                    <button class="btn-link" type="button" @click="studentDeleteModalVisible(student, index)" v-if="1 == plan.status" v-cloak>
                        取消资格
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <span>&copy;2018 首都师范大学</span>
</footer>
<div id="scoreImportModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">导入成绩</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content form-horizontal">
            <div class="form-group">
                <label class="form-label">文件</label>
                <input id="file" class="form-control" type="file"/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="importScoreFile" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="inspectionSubmitModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">提交审核阶段</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要提交审核阶段吗？</p>
            <p class="modal-prompt">提交后您将无法再导入学生与成绩数据，</p>
            <p class="modal-prompt">并且该推免计划将进入笔试阶段！</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="submitInspection" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="examSubmitModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">提交初试阶段</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要提交初试阶段吗？</p>
            <p class="modal-prompt">提交前请确认已经为所有学生录入初试成绩，</p>
            <p class="modal-prompt">提交后该推免计划将进入面试阶段！</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="submitExam" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="interviewSubmitModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">提交面试阶段</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要提交面试阶段吗？</p>
            <p class="modal-prompt">提交前请确认已经为所有学生录入面试成绩，</p>
            <p class="modal-prompt">提交后该推免计划将进入录取阶段！</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="submitInterview" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="planCompleteModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">完成录取工作</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要完成录取工作吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="completePlan" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="studentDeleteModal" class="modal" v-if="isVisible" v-cloak>
    <div class="modal-dialog">
        <div class="modal-header">
            <span class="modal-title">取消推免资格</span>
            <span class="modal-close"><span class="icon icon-remove" @click="invisible"></span></span>
        </div>
        <div class="modal-content">
            <p class="modal-prompt">您确定要取消{{student.name}}的推免资格吗？</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel pull-right" @click="invisible" :disabled="isDisabled">取消</button>
            <button class="btn pull-right" @click="deleteStudent" :disabled="isDisabled">{{action}}</button>
        </div>
    </div>
</div>
<div id="popoverSpace" class="popover-space" v-if="prompts.length > 0">
    <popover v-for="prompt in prompts" v-bind:key="prompt.id" v-bind:prompt="prompt"></popover>
</div>
<div id="mask" class="mask" v-if="loading">
    <p class="mask-prompt">数据获取中...</p>
</div>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/demo.js"></script>
<script src="js/plan.js"></script>
</body>
</html>